<div>
  <div class="jumbotron animated slideInDown">
    <h1>GitAround</h1>
    <p>Travel like a local</p>
  </div>
</div>
<div class ="container">
	<h2> Most Popular </h2>
	<br>
	<div class = "row animated slideInRight">
	<%= div_for(@itinerary) do |i|%>
	   <%= link_to itinerary_path(i.id) do  %>   	
		<div class="col-sm-4 boxes ripplelink">
			<center>
            <br>
			<div class = "crop_splash">
				<img src = "<%= i.cover %>">
			</div>
			<h3> <%= i.title %> <br> </h3>
			</center>
		</div>
        <% end  %>
	<% end  %>
	</div>
</div>

