<div class="demo-card-wide mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">Git Around Engineers</h2>
  </div>
  <div class="mdl-card__supporting-text">
   GitAround is the easiest way to find, replicate, and customize travel itineraries. Users can browse through a catalog of day/overnight/multi-day trips, clone the ones they like to their own profile, view the pins on a map, and then customize it to their liking.
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
      Contact Us
    </a>
  </div>
  <div class="mdl-card__menu">
    <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
      <i class="material-icons">share</i>
    </button>
  </div>
</div>