.demo-card-wide.mdl-card {
  width: 800px;
  margin: 0 auto;
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 500px;
  background: url('http://i.imgur.com/O75aUKl.jpg?1') center / cover;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}