.demo-card-wide.mdl-card {
  width: 512px;
  margin: 0 auto;
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
  background: url('http://www.onemorething.nl/uploads/community/19ad3553e751cd08fc522e422727c5e21d1f5513_0.jpg') center / cover;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}