   <% if current_user %> 
            <li class="mdl-menu__item"><a href="/users/<%= current_user.id %>">Profile</a></li>
            <li class="mdl-menu__item"><a href="/logout">Log Out</a></li>
            <li class="mdl-menu__item"><a href="/users/<%= current_user.id %>/itineraries/new">New Trip</a></li>
          <% else %>  
            <li class="mdl-menu__item"><a href="/signup">Sign Up</a></li>
            <li class="mdl-menu__item"><a href="/login">Log In</a></li>
          <% end %>
        </ul>
      </div>

  <div class="text-center">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, class: "alert #{name == 'error' ? 'alert-danger' : 'alert-info'}" %>
      <% end %>
  </div>
    <%= yield %>
